<table width="100%" border="1" cellpadding="1" cellspacing="0">
  <tr class="normal">
    <td><div align="center"><a href="index.html">インフォメーション</a></div></td>
    <td><div align="center"><a href="http://yp.peercast.org/?host={$servMgr.serverLocalIP}:{$servMgr.serverPort1}" target="_blank">イエローページ</a></div></td>
    <td><div align="center"><a href="relays.html">リレー</a></div></td>
    <td><div align="center"><a href="broadcast.html">ブロードキャスト</a></div></td>
    <td><div align="center"><a href="connections.html">コネクション</a></div></td>
    <td><div align="center"><a href="settings.html">セッティング</a></div></td>
    <td><div align="center"><a href="viewlog.html">ログ</a></div></td>
    <td><div align="center"><a href="logout.html">ログアウト</a></div></td>
  </tr>
</table>
